@import 'styles/variables';

.MainLayout {
  height: 100vh;
  margin-left: $sidebar-width;
  overflow: auto;

  &.mobile {
    margin-left: 0;
  }
  &.collapsed {
    margin-left: $sidebar-collapsed-width;
  }
}

.Content {
    margin-top: $header-height;
}

.Footer {
  text-align: center;
}
